{# 
    CAIDcreative/sleepdentistrymelbourne
    contact/index.twig 
#} 

{% extends "_layouts/main" %} 

{% import "_macros/images" as images %} 
{% import "_macros/templates" as templates %}

{% block main %}
    <div class="page-header clear-filter" data-parallax="false" style="background-image: url('{{ siteUrl }}assets/images/dental_checkup_flipped.jpg'); background-position: left center; height: inherit !important; min-height: 80vh; padding-top: 5em; padding-bottom: 5em;">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-md-4 col-md-8 offset-xl-5 col-xl-7">
                    <div class="card p-3 mt-0" style="background: #fffe;">
                        <div class="card-header card-header-dark-primary mb-3">
                            <h1 class="text-white text-uppercase text-center my-0">Teeth Whitening Offer</h1>
                        </div>
                        <div class="card-body p-0 p-lg-3">
                            {{ craft.freeform.form("teethWhiteningOffer").render() }}

                            <p style="font-size: 12px;">(Please note: one of our Sleep Dentistry Melbourne team will contact you to verify &amp; confirm your appointment time).
                            <br/>This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

{% endblock %}