{# 
    CAIDcreative/sleepdentistrymelbourne
    porcelain-veneers-crowns/index.twig 
#} 

{% extends "_layouts/main" %} 

{% block main %}

    {% set mainImage = craft.imageHelper.filename('crownsandveneers.jpg') %}
    <div class="page-header clear-filter" data-parallax="false" style="background-image: url('{{ mainImage.url }}'); background-position: left center; height: inherit !important; min-height: 80vh; padding-top: 5em; padding-bottom: 5em;">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-md-4 col-md-8 offset-xl-5 col-xl-7">
                    <div class="card p-3 mt-0" style="background: #fffe;">
                        <div class="card-header card-header-dark-primary mb-3">
                            <h1 class="text-white text-uppercase text-center my-0">Porcelain Veneers &amp; Crowns</h1>
                        </div>
                        <div class="card-body p-0 p-lg-3">
                            <h2 class="text-secondary text-center text-uppercase my-1">Offers Starting From $1950</h2>
                            <p class="text-center">To contact us please fill out the form below. <br/>Alternatively, you can contact us on <a href="{{ contactInfo.contactMainPhone.RFC3966 }}">{{ contactInfo.contactMainPhone.phone }}.</a></p>

                            {{ craft.freeform.form("porcelainVeneersCrownsOffer").render() }}

                            <br/>This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

{% endblock %}